.card-img-size {
  height: 250px;             /* fixed height for uniform cards */
  width: 100%;
  overflow: hidden;          /* hides overflow */
  display: flex;             /* ensures centering */
  justify-content: center;
  align-items: center;
}

.card-img-size img {
  height: 100%;
  width: 100%;
  object-fit: cover;         /* crop and fill */
  object-position: center;   /* center crop */
}


.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: rgba(0, 0, 0, 0.2); /* semi-transparent background */
  border-radius: 50%;
  background-size: 70%;

}

.carousel-control-prev-icon {
  background-position: 35%;
}

.carousel-control-next-icon {
  background-position: 65%;
}
